*
{
  margin: ;
  padding: ;
  box box-sizing: border-box;
  font-family: 'sources sans prp',sans-serif;

}
body{
  display:;
  justify-content: ;
  align-items: ;
  min-height: ;
  background: ;


}
.text{
  position: ;
  width: 100%;
  text-align: ;
  filter: url(#fire);

}
.text h1
{
  position: ;
  color: #FF0000;
  font-weight: ;
  text-shadow: 0 0 10px #ff8c3b;
               0 0 40px #ff8c3b,
               0 0 80px #ff8c3b,
               0 0 160px #ff8c3b,
               0 0 240px #ff8c3b;
}
.img-fluid{
  width: 100%;
  height: auto;
}